.field {
    width: 100vw;
    height: 100vh;
    background-image: url('./../../assets/img/board.jpg');
    object-fit: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    width: 180px;
    height: 190px;

    img {
        position: absolute;
        width: 100%;
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.3) translateY(-10px) translateX(-10px);
    }
}

.pick-card {
    animation: pick-card-animation 1.25s ease-in-out;
    transform: scale(1.3) translateX(140px) translateY(-300px) rotate(-10deg);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.3) translateY(-10px) translateX(-10px);
    }

    40% {
        transform: scale(1.5) translateY(-10px) translateX(-10px);
    }

    60% {
        transform: scale(1.5) translateY(-10px) translateX(-10px);
    }

    100% {
        transform: scale(1.3) translateX(140px) translateY(-300px) rotate(-10deg);
    }
}

@media (max-width: 800px) {
    @keyframes pick-card-animation-small {
        0% {
            transform: scale(1) translateY(-20px) translateX(0px);
        }

        40% {
            transform: scale(1.2) translateY(-16px) translateX(0px);
        }

        60% {
            transform: scale(1.2) translateY(-16px) translateX(0px);
        }

        100% {
            transform: scale(1) translateX(180px) translateY(-16px) rotate(-10deg);
        }
    }
}

.played-card {
    transform: scale(1.3) translateX(140px) translateY(-300px) rotate(-10deg);
    right: 20px;
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
    cursor: pointer;

    &:hover {
        filter: brightness(1.15)
    }

    @media(max-width: 1250px) {
        width: 220px;
    }

    @media(max-width: 800px) {
        width: fit-content;
    }
}

.btn-add {
    position: absolute;
    bottom: 100px;
    right: 40px;
    z-index: 1;
}

.btn-restart {
    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 1;
}

.btn-home {
    position: absolute;
    top: 40px;
    left: 40px;
}

.pin-bottom {
    position: absolute;
    bottom: 80px;
    left: 150px;
    right: 150px;
    border-radius: 50px;
}

.scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    gap: 8px;
}

@media (max-width: 800px) {
    .pin-bottom {
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
    }

    .card-stack {
        img {
            width: 70%;
        }
    }

    .played-card {
        transform: scale(1) translateX(180px) translateY(-16px) rotate(-10deg);
        right: 20px;
    }

    .pick-card {
        animation: pick-card-animation-small 1.25s ease-in-out;
        transform: scale(1) translateX(180px) translateY(-16px) rotate(-10deg);
    }

    .top-card {
        &:hover {
            transform: scale(1) translateY(0) translateX(0);
        }
    }
}

@media (max-width: 550px) {
    .field {
        justify-content: unset;
    }
}