body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
    background-color: black;
}

@media (max-width: 1000px) {
    .hide-mobile {
        display: none;
    }
}

@media (min-width: 1000px) {
    .hide-destkop {
        display: none;
    }
}